.nav {
 height: 80px;
    background-color: black;
    font-size: 40px;
    color : black;
}
.logo {
    height: 80px;
}
.baniere {
    height: 80px;
    margin-left: 440px;
}
.search {
    height: 80px;
    margin-left: 460px;
}

.recherche {
    -moz-box-shadow:inset 7px 0px 25px 6px #54a3f7;
    -webkit-box-shadow:inset 7px 0px 25px 6px #54a3f7;
    box-shadow:inset 7px 0px 25px 6px #54a3f7;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #007dc1), color-stop(1, #0061a7));
    background:-moz-linear-gradient(top, #007dc1 5%, #0061a7 100%);
    background:-webkit-linear-gradient(top, #007dc1 5%, #0061a7 100%);
    background:-o-linear-gradient(top, #007dc1 5%, #0061a7 100%);
    background:-ms-linear-gradient(top, #007dc1 5%, #0061a7 100%);
    background:linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#007dc1', endColorstr='#0061a7',GradientType=0);
    background-color:#007dc1;
    -moz-border-radius:42px;
    -webkit-border-radius:42px;
    border-radius:42px;
    border:3px solid #124d77;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:26px;
    padding:13px 24px;
    text-decoration:none;
    text-shadow:2px 2px 0px #154682;
    margin-top: 510px;
    margin-left: 1090px;
}
.recherche:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0061a7), color-stop(1, #007dc1));
    background:-moz-linear-gradient(top, #0061a7 5%, #007dc1 100%);
    background:-webkit-linear-gradient(top, #0061a7 5%, #007dc1 100%);
    background:-o-linear-gradient(top, #0061a7 5%, #007dc1 100%);
    background:-ms-linear-gradient(top, #0061a7 5%, #007dc1 100%);
    background:linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0061a7', endColorstr='#007dc1',GradientType=0);
    background-color:#0061a7;
}
.recherche:active {
    position:relative;
    top:1px;
}
.btnsearch {
    -moz-box-shadow:inset 1px 1px 35px -6px #54a3f7;
    -webkit-box-shadow:inset 1px 1px 35px -6px #54a3f7;
    box-shadow:inset 1px 1px 35px -6px #54a3f7;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #007dc1), color-stop(1, #0061a7));
    background:-moz-linear-gradient(top, #007dc1 5%, #0061a7 100%);
    background:-webkit-linear-gradient(top, #007dc1 5%, #0061a7 100%);
    background:-o-linear-gradient(top, #007dc1 5%, #0061a7 100%);
    background:-ms-linear-gradient(top, #007dc1 5%, #0061a7 100%);
    background:linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#007dc1', endColorstr='#0061a7',GradientType=0);
    background-color:#007dc1;
    -moz-border-radius:42px;
    -webkit-border-radius:42px;
    border-radius:42px;
    border:1px solid #124d77;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:26px;
    padding:7px 12px;
    text-decoration:none;
    text-shadow:2px 2px 0px #154682;
    margin-left: 720px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.btnsearch:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0061a7), color-stop(1, #007dc1));
    background:-moz-linear-gradient(top, #0061a7 5%, #007dc1 100%);
    background:-webkit-linear-gradient(top, #0061a7 5%, #007dc1 100%);
    background:-o-linear-gradient(top, #0061a7 5%, #007dc1 100%);
    background:-ms-linear-gradient(top, #0061a7 5%, #007dc1 100%);
    background:linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0061a7', endColorstr='#007dc1',GradientType=0);
    background-color:#0061a7;
}
.btnsearch:active {
    position:relative;
    top:1px;
}

.background {
    background-image: url("/img/accueil/intello.jpg");
    height: 667px;
}
.man {
    height: 420px;
    margin-left: 300px;
}
.woman {
    margin-left: 355px;
}

input#man {
    margin-left: 595px;
}
input#woman {
    margin-left: 480px;
}
.photosearch {
    width: 150px;
}
.interet {
    margin-left: 395px;
    margin-top: 30px;
}
.interetradio {
    margin-left: 325px;
}
.interetradio input {
    margin-left: 135px;
}
.photoGeek {
    width: 25%;
    float: left;
    margin-left: 420px;
    margin-top: 50px;
}
.list-group {
    float: left;
    font-size: 20px;
    margin-top: 150px;
}

