<div>
    <FORM ng-submit="search()">
        <INPUT type= "radio" value="H" ng-model="criteria.sexe"> Homme
        <INPUT type= "radio" value="F" checked ng-model="criteria.sexe"> Femme

        <SELECT name="interet" size="1" ng-model="criteria.interet">
            <OPTION ng-repeat="item in lesInterets" value="{{item.id}}">{{ item.libelle }}
        </SELECT>

        <INPUT type="submit" value="Envoyer">
    </FORM>

    <div>
        <table>
            <tr ng-repeat="item in lesGeeks">
                <td>Nom : {{item.nom}}</td>
                <td>Prenom : {{item.prenom}}</td>
                <td>Mail : {{item.mail}}</td>
                <td>Sexe : {{item.sexe}}</td>
                <td><a href="#/geeks/{{item.id}}">Profil</a></td>
            </tr>
        </table>
    </div>
</div>